<form method="post" action="/landmarks">
  <label>Landmark name: <input type="text" name="landmark[name]" id="landmark_name"></label>
  <label>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></label>
  <input type="submit" name="Create New Landmark" id="Create New Landmark" value="Create New Landmark">
</form>